.anomalyPage {
  border: 4px solid #ee9a2d;
}
.filterBoxes{
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.pdfContainer {
  width: 97%;
}
.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container > .grid-item {
  border: 1px solid #08153269;
  font-size: 12px;
}
.grid-container > .grid-item:nth-child(2n + 6) {
  background-color: #c7c7c7;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto;
  grid-column-gap: -5px;
  grid-row-gap: -5px;
}
.reporthead {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
}
.reporthead span {
  justify-self: center;
  font-weight: 700;
  align-self: center;
}
.reporthead img {
  height: 30px;
  align-self: center;
}
.smallHeads {
  font-weight: 700;
  text-align: center;
}
.MuiTableCell-root.MuiTableCell-root {
  padding: 16px 11px;
}
.reportCont {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-template-rows: 1fr;
  margin: 10px 5px;
  margin-bottom: 0;
}
.bigVal {
  grid-template-columns: 2fr 1fr 5fr;
}
.grid-item.reportAttached{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}
.grid-item.reportAttached img{ 
  min-height: 173px;
  max-height: 250px;
  max-width: 100%;
  margin-right: 10px;
}
.grid-container > .grid-item:nth-child(1) {
  grid-column: 1/7;
  grid-row: 2/1;
  font-size: 16px;
}

.grid-container > .grid-item:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: #c7c7c7;
}

.grid-container > .grid-item:nth-child(3) {
  grid-column: 4/7;
  grid-row: 2/3;
  background-color: #c7c7c7;
}

.grid-container > .grid-item:nth-child(4) {
  grid-column: 1/4;
  grid-row: 3/3;
}

.grid-container > .grid-item:nth-child(5) {
  grid-column: 4/7;
  grid-row: 3/6;
}
.grid-container > .grid-item:nth-child(6) {
  grid-column: 1/4;
  grid-row: 4/4;
}
.grid-container > .grid-item:nth-child(7) {
  grid-column: 1/4;
  grid-row: 5/6;
}
.grid-container > .grid-item:nth-child(8) {
  grid-column: 1/7;
  grid-row: 6/6;
}
.grid-container > .grid-item:nth-child(9) {
  grid-column: 1/7;
  grid-row: 7/7;
}
.grid-container > .grid-item:nth-child(10) {
  grid-column: 1/7;
  grid-row: 8/8;
}
.grid-container > .grid-item:nth-child(11) {
  grid-column: 1/7;
  grid-row: 9/9;
}
.grid-container > .grid-item:nth-child(12) {
  grid-column: 1/7;
  grid-row: 10/10;
}
.grid-container > .grid-item:nth-child(13) {
  grid-column: 1/7;
  grid-row: 11/11;
}
.grid-container > .grid-item:nth-child(14) {
  grid-column: 1/7;
  grid-row: 12/12;
}
.grid-container > .grid-item:nth-child(15) {
  grid-column: 1/6;
  grid-row: 13/13;
}
.grid-container > .grid-item:nth-child(16) {
  grid-column: 1/6;
  grid-row: 14/14;
}
.grid-container > .grid-item:nth-child(17) {
  grid-column: 1/6;
  grid-row: 15/15;
}
.grid-container > .grid-item:nth-child(18) {
  grid-column: 1/6;
  grid-row: 16/16;
}
.grid-container > .grid-item:nth-child(19) {
  grid-column: 1/6;
  grid-row: 17/17;
}
